GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=gcp-poc-investment-219973-ce
GOOGLE_CLOUD_LOCATION=us-central1
GEMINI_MODEL=gemini-2.5-flash-preview-05-20
STATIC_FILES_DIR=static
ENVIRONMENT=custom
